<table>
	<tr>
		<th></th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Monday</th>
		<% menu.forEach(function(num){%>
		     
		     	<td><%=num.num1%></td>
		     <% })%>
	</tr>
	</table>