
<!DOCTYPE html>
<html>
    <head>
        <title>Mess</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/land.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
          
    
    
    <div id="landing-header">
 		<h1>Welcome to Rasoie!</h1>
		<a href="/mess/book" class="btn btn-lg btn-success">Mess 1st</a>
        <a href="/mess2/book" class="btn btn-lg btn-success">Mess 2nd</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partial/footer %>