<% include partial/header %>
<form action="/mess" method="POST">
	<div class="text-center">
		<h3>1st mess</h3>
	</div>
	<div class="container">
<table>
	<tr>
		<th>&nbsp</th>
		<th><strong>Breakfast</strong></th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Monday</th>
		<td>

			<select name="mess[num1]">
			  <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
                          </select>
    
		</td>
		<td><select name="mess[num2]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
		<td><select name="mess[num3]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>
	<tr>
		<th>Tuesday</th>
		<td><select name="mess[num4]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num5]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num6]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>
	<tr>
		<th>Wednesday</th>
		<td><select name="mess[num7]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num8]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num9]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>
	<tr>
		<th>Thursday</th>
		<td><select name="mess[num10]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
		<td><select name="mess[num11]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
		<td><select name="mess[num12]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
	</tr>
	<tr>
		<th>Friday</th>
		<td><select name="mess[num13]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
		<td><select name="mess[num14]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num15]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>
	<tr>
		<th>Saturday</th>
		<td><select name="mess[num16]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
		<td><select name="mess[num17]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num18]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>
	<tr>
		<th>Sunday</th>
		<td><select name="mess[num19]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
             
           </select></td>
		<td><select name="mess[num20]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
		<td><select name="mess[num21]">
			<option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
	</tr>


</table>
</div>
<button class="bt">submit!!</button>
<div class="pull-right">
	<a href="/mess2/book" id="b2" class="btn btn-default">2nd mess</a>
</div>

</form>
<img src="http://getwallpapers.com/wallpaper/small-retina/e/e/9/488975.jpg" height="100%" width="100%">
<% include partial/footer %>