<% include ./partial/header %>
<form action="/mess2" method="POST">
  <div class="text-center">
    <h3>2st mess</h3>
  </div>
  <div class="container">
<table >
  <tr>
    <th>&nbsp</th>
    <th><strong>Breakfast</strong></th>
    <th>Lunch</th>
    <th>Dinner</th>
  </tr>
  <tr>
    <th>Monday</th>
    <td><select name="mess2[num1]">
        <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
                          </select>

    </td>
    <td><select name="mess2[num2]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
    <td><select name="mess2[num3]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>
  <tr>
    <th>Tuesday</th>
    <td><select name="mess2[num4]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num5]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num6]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>
  <tr>
    <th>Wednesday</th>
    <td><select name="mess2[num7]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num8]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num9]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>
  <tr>
    <th>Thursday</th>
    <td><select name="mess2[num10]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
    <td><select name="mess2[num11]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
    <td><select name="mess2[num12]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
  </tr>
  <tr>
    <th>Friday</th>
    <td><select name="mess2[num13]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
    <td><select name="mess2[num14]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num15]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>
  <tr>
    <th>Saturday</th>
    <td><select name="mess2[num16]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
              
           </select></td>
    <td><select name="mess2[num17]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num18]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>
  <tr>
    <th>Sunday</th>
    <td><select name="mess2[num19]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
             
           </select></td>
    <td><select name="mess2[num20]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
    <td><select name="mess2[num21]">
      <option value=""></option>
               <option value="NonVeg">NonVeg</option>
               <option value="Veg">Veg</option>
               
           </select></td>
  </tr>


</table>
</div>
<button class="btn btn-primary">submit!!</button>
<h2 id="menu"> MENU</h2>

<div class="container">

<table>
   <tr>
    <th><th>&nbsp</th></th>
    <th>Breakfast</th>
    <th>Lunch</th>
    <th>Dinner</th>

   </tr>
   <tr> 
   <th>Monday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Tuesday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Wednesday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Thursday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Friday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Saturday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
    <tr> 
   <th>Sunday</th>
   <td> </td>
   <td> </td>
   <td> </td>
   </tr>
 
   </table>

     </div>

</form>
<% include ./partial/footer %>